
/*
.headerPrincipal-titulo{
    display: inline-block;
    vertical-align: middle;
    
}

.headerPrincipal-nav{
    display: inline-block;
    vertical-align: middle;

}*/

.headerPrincipal .container{
    display: flex;
    align-items:center; /*alinear vertical*/
    justify-content: space-between;
}

.headerPrincipal-nav {
    display: flex;

}